@import "tailwindcss";

@theme {
  --color-lbackground: #F9FAFB;
  --color-dbackground: #0F172A;
  --color-modal-bg: #F3F4F6;
  --color-textbase: #111827;
  --color-ltext: #111827;
  --color-dtext: #F8FAFC;
  --color-texthighlight: #047857;
  --color-mainact: #1E3A8A;
  --color-secondaryact: #3B82F6;
  --color-hover: #2563EB;
}

@layer base {
  [data-theme="light"] {
    --color-textbase: #111827;
    --color-ltext: #111827;
    --color-dtext: #F8FAFC;
    --color-texthighlight: #047857;
    --color-mainact: #1E3A8A;
    --color-secondaryact: #3B82F6;
    --color-hover: #8aa4ec;
    --color-modal-bg: #FFFFFF;
  }
  [data-theme="dark"] {
    --color-textbase: #F8FAFC;
    --color-ltext: #111827;
    --color-dtext: #F8FAFC;
    --color-texthighlight: #22c55e;
    --color-mainact: #3B82F6;
    --color-secondaryact: #1E3A8A;
    --color-hover: #173463;
    --color-modal-bg: #1E293B;
  }
}

:root[data-theme="light"] {
  background-color: var(--color-lbackground);
}

:root[data-theme="dark"] {
  background-color: var(--color-dbackground);
}